<div class="row">
	<div class="col-md-3">
		<center>
			<a href="#"><img height="100" width="100" alt="My Picture" class="img-circle img-responsive" src="./images/mypic.jpg" /></a><br/>
			<span>By <a href="http://twitter.com/dahalco" target="_blank"><i class="fa fa-twitter"> dahalco</i></a>
		</center>
	</div>
	<div class="col-md-6">

			<h2>
				Blog title goes here<br/>
				<small><i class="fa fa-calendar"> Jan 03</i></small>
			</h2>

			<p>
				Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo.
			</p>

			<p>
				Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>

			<p>
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper.
			</p>
	</div><!--/col-md-6-->
</div><!--/row-->
<br/><br/><br/>
