<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>

  <title>RubyGems</title>
</head>
<body>
	<!-- Navbar -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="btn-group btn-group-justified">
				<a href="/" class="btn btn-sm btn-primary">HOME</a>
				<a href="#" class="btn btn-sm btn-primary">TOP 10 GEMS</a>
				<% if logged_in? %>
					<a href="#" class="btn btn-sm btn-primary">Hey! <%= @name %></a>
				<% else %>
					<a href="/login" class="btn btn-sm btn-primary"><i class="fa fa-twitter"> LOG IN WITH TWITTER</i></a>
				<% end %>
			</div><!--/btn-group-->
		</div><!--/col-md-6 col-md-offset-3-->
	</div><!--/row-->
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
